#novel-content p {
    text-indent: 2em;
    margin: 0px;
}

#novel-content blockquote p {
    text-indent: initial;
}

#ending-para {
    text-align: right;
    text-indent: 0;
}

#novel-content .-ralign {
    text-align: right;
}

#novel-content .wrap-center {
    text-align: center;
    text-indent: unset;
}
