---
interface Props {
  icon: string,
  href?: string,
}
const { icon, href } = Astro.props;

---

{
  href
  ?
    <a class="block group" href={href} target="_blank">
      <span class:list={["align-[-0.125em]", icon]}></span>
      <span class="pl-1 no-underline group-hover:underline"><slot/></span>
    </a>
  :
    <span class="block">
      <span class:list={["align-[-0.125em]", icon]}></span>
      <span class="pl-1"><slot/></span>
    </span>
}
