---
import IndexFooter from "./IndexFooter.astro";
import LinkWithIcon from "./LinkWithIcon.astro";
import ExternalLinkWithIcon from "./ExternalLinkWithIcon.astro";
---

<div class="mb-4 mx-4 min-h-screen flex flex-col space-y-4 justify-center w-10/12">
  <header class="flex flex-col-reverse space-y-4 h-screen pb-32">
    <div>
      <p class="text-6xl">
        <span class="font-semibold">Hi, I'm</span>
        <br/>
        <span class="font-black drop-shadow-md">Yorusaka Miyabi</span>.
      </p>
      <section class="text-3xl">
        <p>Memento Mori.</p>
      </section>
      <section class="mt-2 text-xl font-bold space-y-2">
        <nav id="main-nav" class="flex flex-wrap flex-row gap-x-2">
          <ExternalLinkWithIcon icon="icon-[solar--arrow-right-up-bold-duotone]" href="https://shadowrz.github.io/blog/">My Blog</Link>
          <LinkWithIcon icon="icon-[solar--magic-stick-3-bold-duotone]" href="/brands.html">Brands</Link>
        </nav>
        <h2 class="font-bold text-2xl">## Social <span class="align-[-0.125em] icon-[solar--planet-2-bold-duotone]"></span></h2>
        <nav id="social" class="flex flex-wrap flex-row gap-x-2">
          <ExternalLinkWithIcon icon="icon-[ph--codepen-logo-duotone]" href="https://codepen.io/ShadowRZ">Codepen</Link>
          <ExternalLinkWithIcon icon="icon-[ph--github-logo-duotone]" href="https://github.com/ShadowRZ">GitHub</Link>
          <ExternalLinkWithIcon icon="icon-[ph--gitlab-logo-duotone]" href="https://gitlab.com/ShadowRZ">GitLab</Link>
          <ExternalLinkWithIcon icon="icon-[ph--chats-circle-duotone]" href="https://matrix.to/#/@shadowrz:nixos.dev">Matrix</Link>
          <ExternalLinkWithIcon icon="icon-[ph--at-duotone]" href="https://social.boiledscript.com/@ShadowRZ">Fediverse</Link>
        </nav>
      </section>
    </div>
  </header>
  <IndexFooter/>
</div>
