---
interface Props {
  icon: string,
  href?: string,
}
const { icon, href } = Astro.props;
---

{
  href
  ?
    <a class="group" href={href}>
      <iconify-icon inline icon={icon}></iconify-icon>
      <span class="no-underline group-hover:underline"><slot/></span>
    </a>
  :
    <a>
      <iconify-icon inline icon={icon}></iconify-icon>
      <span><slot/></span>
    </a>
}